<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Log in</title>
</head>
<body class="hello">
  <header>
  </header>
<h2> Log In </h2>
<form class="ui form" action="/mainpage" method="get">
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="email"><br>
        <label>Password</label>
        <input type="text" name="password" placeholder="password"><br>
    </div>
    <button class="ui blue button" type="submit">Login</button>
    
</form>
</body>
</html>